body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.background {
    background: rgb(92,73,99);
    background: linear-gradient(152deg, rgba(92,73,99,1) 3%, rgba(105,28,138,1) 23%, rgba(31,115,179,1) 68%, rgba(22,139,198,1) 99%);
}

.center {
    text-align: center;
    color: #fff;
}

.container-half {
    width:40%;
    margin: auto;
    padding-top: 8em;
    padding-bottom: 2em;
}

.container-line {
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 0rem;

}

/*Styling for bar under intro*/

hr {
    width: 100%;
    align-items: center;
    margin: auto;
    display: block;
   
}

/* Nav Styling */

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}

.navbar a {
    text-decoration: none;
    float: left;
    text-align: center;
    display: block;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    font-size: large;
    text-shadow: 2px 5px 20px solid black; /* Fix this */
    padding: 16px 20px;
    
}

.navbar-right {
    float: inline-end;
}

/* Small Screen Compatibility Styling */

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 33%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }

    .container-half {
        width: 80%;
    }
}

/* Underline text with animated hover effect */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #8134a5d8;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8134a5d8;
  transform-origin: bottom right;
  transition: transform 0.10s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Card Styling */

.card, .opacity {
    
    opacity: 0.78;
}

img {
    height: auto;
    width: auto;
    max-width: 38rem;
    max-height: 24rem;
    margin: auto;
}

/*
#col1 {
    margin-left: 1em;
}
*/

h1 {
    animation: text-shadow 1s ease-in;

}

.bolded {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Form Styling */

input[type=submit] {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    margin-top: 2em;
    border-radius: 8px;
    font-size: large;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.85;
    color: #fff;
    background-color: rgb(26, 29, 32);
}


input[type=submit]:hover {
    border-color: #fff;
    opacity: 1;
    font-weight: 600;
}
.card-body {
    color: #fff;
}

.form_control {
    color:#fff;
}
/*
#Info {
    display: block;
}

.row {

}